.card {
    width: 320px;
    height: 509px;
    color: white;
    text-align: center;
}

.card__bordered {
    position: relative;
    width: 320px;
    height: 480px;
    background-image: url('../assets//img/cardDefault.png');
}

.card__bordered:hover .card__oval {
    background-image: url('../assets//img/cardDefaultHover.png');
    background: #2ea8e6;
}

.card__bordered_selected {
    position: relative;
    width: 320px;
    height: 480px;
    background-image: url('../assets//img/cardSelected.png');
}

.card__bordered_selected_hover {
    position: relative;
    width: 320px;
    height: 480px;
    background-image: url('../assets//img/cardSelectedHover.png');
}

.card__bordered_disabled {
    position: relative;
    width: 320px;
    height: 480px;
    background-image: url('../assets/img/cardDisabled.png');
}

.card__texts {
    text-align: left;
    padding: 21px 0px 0px 51px;
}

.card__tagline {
    color: #666666;
    font-size: 16px;
    margin: 0;
}

.card__tagline_rejected {
    color: #e52e7a;
    font-size: 16px;
    margin: 0;
}

.card__brand {
    color: black;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

.card__taste {
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding-bottom: 15px;
}

.card__qty {
    color: #666666;
    font-size: 14px;
    margin: 0;
    width: 127px;
}

.card__oval {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #1698d9;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.card__oval_selected {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #d91667;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.card__oval_selected_hover {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e52e7a;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.card__weight {
    font-size: 42px;
    margin: 0;
    padding-top: 8px;
}

.card__kg {
    font-size: 20px;
    margin-top: -7px;
}

.card__underline {
    font-size: 13px;
}

.card__underline_decoration {
    font-size: 13px;
    text-decoration: underline;
    color: #22a7e9;
    cursor: pointer;
}

.card__underline_disabled {
    font-size: 13px;
    color: #ffff66;
}