.app {
    background-image: url('./assets//img/background.png');
    background-size: cover;
    overflow: hidden;
}

.app__shadow {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0), 80%, rgba(0, 0, 0, 0.5)), linear-gradient(rgb(0, 0, 0, 0.5), 20%, rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__title {
    font-family: 'exo2';
    color: white;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;
}

.app__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
    margin-bottom: 3rem;
}

@media screen and (max-width: 820px) {
    .app {
        background-image: url('./assets/img/background.png');
        background-size: cover;
        overflow: auto;
    }

    .app__shadow {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(rgb(0, 0, 0, 0), 80%, rgba(0, 0, 0, 0.5)), linear-gradient(rgb(0, 0, 0, 0.5), 20%, rgba(0, 0, 0, 0));
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
}