@import './zero-style.scss';

@font-face {
  font-family: exo2;
  src: url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap'),
    url('./assets/fonts/Exo2-Thin.ttf')
}

body {
  font-family: 'Trebuchet MS';
}